@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-chrome {
  box-shadow: inset 0px 0px 1px 1px rgba(178, 190, 207, 1),
    inset 0px 0px 2px 2px rgba(226, 232, 240, 1),
    inset 0px 0px 8px 8px rgba(255, 255, 255, 1),
    inset 0px 0px 12px 12px rgba(226, 232, 240, 1);
  background-color: rgba(178, 190, 207, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .textShadow-sm {
    text-shadow: 0 1px 2px var(--tw-shadow-color);
  }

  .textShadow {
    text-shadow: 0 2px 4px var(--tw-shadow-color);
  }

  .textShadow-lg {
    text-shadow: 0 8px 16px var(--tw-shadow-color);
  }

  .textBorder-sm {
    -webkit-text-stroke: 1px var(--tw-ring-color);
  }
  .textBorder-md {
    -webkit-text-stroke: 2px var(--tw-ring-color);
  }
}
